.test {
  color: white;
}

.block {
  background-color: #1d1c22;
  border: 1px solid black;
  border-radius: 1%;
  margin-top: 15px;
  padding: 10px;
}

.img_size {
  object-fit: cover;
  flex-shrink: 1;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.containerDivProfile {
  margin-top: 90px;
}

.col-md-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 0%;
  max-width: 100%;
}
